# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
.docusaurus
eclipse
run
node_modules
/forge/runs/
/forge/runs/
/forge/src/generated/
/fabric/src/generated/
/forge/src/generated/